:root {
  --pirple: #423FE0;
  --purple: #5654E3;
  --black: #232323;
  --white: #FFFFFF;
  --orange: #FFB800;

  --gray: rgba(35, 35, 35, 0.3);
  --gray-focus: rgba(35, 35, 35, 0.4);
  --ghost-gray: rgba(35, 35, 35, 0.06);
  --gray-text: rgba(35, 35, 35, 0.5);
  --gray-light-text: rgba(35, 35, 35, 0.38);
  --gray-border: rgba(35, 35, 35, 0.09);
  --gray-disable: rgba(35, 35, 35, 0.15);

  --blue: #423FE0;
  --light-blue: #6C6AE7;
  --dark-blue: #2421CA;
  --blue-pale: rgba(66, 63, 224, 0.09);
  --blue-light-pale: rgba(66, 63, 224, 0.04);
  --sky-blue: rgba(66, 63, 224, 0.15);

  --red: #E40029;
  --red-light: #DF5849;
  --red-dark: #D03525;

  --green: #0F9E59;
  --green-light: #11B666;
  --green-dark: #0D874C;

  --color-body: #F1F1FD;

  --radius: 10px;
  --shadow: 0px 10px 20px rgba(35, 35, 35, 0.09);
  --line-height-text: 1.43;
  --icon-width: 20px;

  --size-h1: 28px;
  --size-h2: 24px;
  --weight-bold: 600;
}
